body {
  margin: 0;
  overflow: hidden
}

::-webkit-scrollbar {
  width: 8px;
  /* Width of vertical scrollbar */
  height: 8px;
  /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb on hover */
}

.auth-section {
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-article {
  width: 500px;
}

.display-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}



.welcome-msg {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: grey;
}

.scrollbar-hidden::-webkit-scrollbar {
  height: 5px;
}

.table {
  height: 70vh;
  overflow-y: hidden;

}


.inner-wrapper {
  height: 90vh;
  overflow-y: scroll;
}


.flex-justify {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-sub-title {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;

}