body {
  margin: 0;
  overflow: hidden;
}

.full-screeb-loader {
  height: 100vh;
  position: relative;
}


::-webkit-scrollbar {
  width: 8px;
  /* Width of vertical scrollbar */
  height: 8px;
  /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb on hover */
}

.auth-section {
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-article {
  width: 500px;
}

.display-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}



.welcome-msg {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: grey;
}

.scrollbar-hidden::-webkit-scrollbar {
  height: 5px;
}


.overflow-content {
  overflow-y: auto;
  height: 80vh;
  ;
}

.card-sub-title {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.overflow-hidden {
  overflow-x: hidden;
}



.relative {
  position: relative;
}

.suggestion {
  position: absolute;
  top: 100%;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;
  background-color: #f1f1f1;
}

.alert-message {
  width: 100%;
  text-align: center;
  height: 20px;
}


.table-scroll {
  overflow-x: auto;
}


.file-upload-wrapper {
  /* background-color: red; */
  position: relative;
  height: 85vh;
}

.dropzone {
  height: 80%;
  margin: 0px;
  border: 2px dashed grey;
  background-color: #f2f2f2;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropzone p {
  font-size: 15px;
  margin: 0px;
  text-align: center;
}

.add-icon {
  color: #bdbdbd;
  font-size: 100px;
}

.file-icon {
  color: #bdbdbd;
  font-size: 100px;
  margin-bottom: 10px;
}

.margin-5-0 {
  margin: 10px 0px;
}


.file-upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: #fff;
  padding: 20px;
}

.content-loader-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
}



.content-loader {
  position: absolute;
  font-size: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.dropdown-transition {
  transition: all 500ms ease-in-out;
}

@media screen and (max-width:700px) {

  .pagenation_container {
    flex-direction: column;
    margin: 10px auto;
  }

  .dataTables_info {
    font-size: 15px;
  }


  .quill {
    height: 500px;
  }

  /* 
  .file-upload-wrapper {
    width: 350px;
    height: 350px;
  } */

}

@media screen and (max-width:600px) {
  /* .file-upload-wrapper {
    width: 300px;
    height: 300px;
  } */

}