body {
  margin: 0;
}

.auth-section {
  height: 100vh;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-article {
  /* border: 2px solid rgb(208, 208, 208); */
  width: 500px;
  /* height: 450px; */
}

.display-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}